{% extends 'base.html.twig' %}
{% block title %}
	{{ titulo }}
{% endblock %}
{% block body %}
	<main class="container">
		<div class="bg-body-tertiary p-5 rounded">
			{{ form_start(form) }}
			<div class="my-custom-class-for-errors">
				{{ form_errors(form) }}
			</div>
			<div class="row mb-16">
				<div class="col">
					{{ form_row(form.category, {'attr':{'class':'form-control mt-08'}, 'label' : 'Nome da categoria'}) }}
				</div>
			</div>
			<div class="d-flex p-2 align-items-center justify-content-between">
				<div class="d-flex">
					{{ form_row(form.cadastrar, {'attr':{'class':'btn btn-primary'}}) }}
				</div>
				<div class="d-flex">
					<a href="{{path('app_category')}}" class="btn btn-danger mt-08" type="button">Cancelar</a>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
